 body {
 	color: #000;
	font: 14px / 18px arial;
 	margin: 0;
}

::selection {
	background-color: transparent;
	color: #000;
}

.bubble {
	background-color: #fd9;
	border-style: none none none solid;
	max-width: 100%;
	padding: 10px;
	margin: 10px;
	border-width: 5px;
	border-color: #fb0;
	background-image: url(images/bones.png);
}

.bubble:hover {
	border-color: #f81;
}

.bubble p {
	padding: 12px;
	border-radius: 10px;
	background-color: #fd99;
	display: inline-block;
	margin: 0;
}

.bubble2 {
	padding-bottom: 0;
}

button {
	background-color: #fb0;
	padding: 12px;
	border-radius: 10px;
	border-style: none;
	box-shadow: 0 5px #7406;
	margin-right: 7px;
	margin-bottom: 15px; 
	font: inherit;
	cursor: pointer;
	display: none;
}

button:first-child {
	display: inline-block;
}

button:not(:disabled):hover {
	background-color: #fff;
}

button:active {
	box-shadow: 0 1px #7406;
	transform: translateY(4px);
}

button:focus {
	outline: 0;
}

button:disabled {
	color: #7406;
	opacity: 0.6;
	cursor: default;
}

.dogs {
	margin: 10px;
	padding: 22px 10px 10px 22px;
	background-image: url(images/grass.png);
	border-radius: 10px;
	background-color: #9da;
	display: none;	
}

.dogs img {
	margin: 0 12px 9px 0;
}