 body {
 	color: #000;
	font: 14px / 18px arial;
 	margin: 0;
}

.bubble {
	background-color: #ffd271b7;
	border-style: none none none solid;
	max-width: 100%;
	padding: 10px;
	margin: 10px;
	border-width: 5px;
	border-color: #ffae00;
}

.bubble:hover {
	border-color: #ff6b09;
}

.bubble2 {
	padding-bottom: 15px;
}

button {
	background-color: #ffaf01fd;
	padding: 20px;
	border-radius: 7px;
	border-style: none;
	box-shadow: 0 5px #664b0162;
	margin-right: 7px;
	font: inherit;
	cursor: pointer;
}

button:hover {
	background-color: #ffffff;
	color: #000000;
}

button:active {
	box-shadow: 0 1px #664b0162;
	transform: translateY(4px);
}

button:focus {
	outline: 0;
}